body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    padding: 30px;
    max-width: 700px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.savol {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}
