<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>A2 Quiz</title>
  <link rel="stylesheet" href="../static/a2.css">
</head>

<body>
  <h1>A2 Grammar Quiz</h1>
  <form method="POST">
    {% for savol in savollar %}
    <div class="savol-box">
      <p>{{ loop.index }}. {{ savol[1] }}</p>
      {% for i in range(2, 6) %}
      <label>
        <input type="radio" name="savol_{{ savol[0] }}" value="{{ i - 2 }}">
        {{ savol[i] }}
      </label><br>
      {% endfor %}
    </div>
    {% endfor %}
    <button type="submit">Natijani ko‘rish</button>
  </form>
</body>

</html>