<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alisher Navoiy Quiz</title>
    <link rel="stylesheet" href="../static/ali.css" />
</head>

<body>
    <div class="savol-qutisi">
        <h2 class="savol-matni" id="savolMatni"></h2>
        <div class="variantlar" id="variantlar"></div>
        <div class="natija" id="natija"></div>
    </div>

    <script src="../static/ali.js"></script>
</body>

</html>