<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DARAJA BILISH</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section class="container">
        <main class="tepa">
        <img class="logo-rasm" src="./Untitled (10).png" alt="">
        <h3>MUSA</h3>
        <a href="/admin"class="admin-button">Admin Panel</a>


    </main>
    <section>
        <main class="matn-rasm">
            <div class="matn" >
                 <h1 class="animated-text">Assalomu alaykum</h1> 
                 <p  class="text">Bizning dasturimiz sizlarga  xar-xil darslardan testlar bor   va ularni ishlab o'zingizni  bilimingizni aniqlab oling!!!</p>
                 <a  href="/login" class="start-button">Start</a>


            </div>
            <img class="bola-rasm" src="../static/images/Screenshot 2025-04-12 171211.png" alt="">
        </main>
    </section>


    </section>
    
</body>
</html>