<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darajalar</title>
</head>

<body>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Savollar</title>
        <link rel="stylesheet" href="../static/style.css">
        <link rel="stylesheet" href="../static/start.css">
    </head>

    <body>
        <h1 class="ing-daraja">inglz tili darajalar</h1>
        <section class="bobo">
            <div class="level-boxes">
                <a href="../templates/a1.html">
                    <a href="/a1" class="start-button">A1</a>

                </a>
                <a href="./a2.html">
                    <a href="/a2" class="start-button">A2</a>

                </a>
                <a href="./b1.html">
                    <a href="/b1" class="start-button">B1</a>

                </a>
                <a href="./b2.html">
                    <a href="/b2" class="start-button">B2</a>

                </a>
                <a href="./c1.html">
                    <a href="/c1" class="start-button">C1</a>

                </a>







    </body>

    </html>

</body>

</html>