<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>  Ferontent Testi</title>
  <link rel="stylesheet" href="../static/FRO.css">
</head>
<body>
  <div class="test-konteyner">
    <h1 class="sarlavha">  Ferontent Testi</h1>
    <div id="savol" class="savol"></div>
    <div id="javoblar" class="javoblar"></div>
    <div id="natija" class="natija"></div>
  </div>

  <script src="../static/fro.js"></script>
</body>
</html>
