<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savollar</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/start.css">
</head>

<body>
    <section class="bobo">
       
           
        <h1 class="ing-daraja">ona-tili darajalar</h1>
        <div class="level-boxes">
            <a href="./boshlangich.html">
                <a href="/boshlangich" class="start-button">Boshlangich</a>

            </a>
            <a href="./orta.html">
                <a href="/orta" class="start-button">O'rta</a>

            </a>
            <a href="./yuqori.html">
                <a href="/yuqori" class="start-button">Yuqori</a>

            </a>
            <a href="./qiyin.html">
                <a href="/qiyin" class="start-button">Qiyin</a>

            </a>

        </div>
    </section>



</body>

</html>