<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ona Tili Testi - B2 Daraja</title>
  <link rel="stylesheet" href="../static/qiyin.css">
</head>
<body>
  <div class="test-quti">
    <h1 class="sarlavha">B2 daraja testi</h1>
    <div id="savol" class="savol-matni"></div>
    <div id="variantlar" class="variantlar-quti"></div>
    <div id="natija" class="natija"></div>
  </div>

  <script src="../static/qiyin.js"></script>
</body>
</html>
