<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Darajalar</title>
    <link rel="stylesheet" href="../static/quti.css">
</head>

<body>
    <section class="container">
        <main class="ora">
            <div class="ol">
                <div class="bobo-quti">
                    <div class="ota-quti">
                        <img class="imgliz" src="../static/images/image.png" alt="">
                        <div class="matn">
                            <h4>Ingliz tili darajangizni bilib oling!</h4>
                            <a href="/fan"><button class="a-btn">let's goo!</button></a>
                        </div>
                    </div>

                </div>

                <div class="bobo-matn">

                    <p class="p-matns"> Assalomu alaykum hurmatli foydalanuvchi bu bizning ingliz tili testlarimiz bu yerda o'zingizni darajangizni tanlab test ishlashingiz mumkin</p>
                </div>

            </div>
        </main>
        <!--   matn 2 -->

        <main class="ora">


            <div class="ol">
                <div class="bobo-matn">

                    <p class="p-matns"> Assalomu alaykum hurmatli foydalanuvchi bizning bu testimiz ona-tili uchun siz o'zingizni bilimingizni tekshirib ko'ring</p>
                </div>
                <div class="bobo-quti">
                    <div class="ota-quti">
                        <img class="imgliz" src="../static/images/image copy.png" alt="">
                        <div class="matn">
                            <h4>Ona tili darajangizni bilib oling!</h4>
                            <a href="/ona"><button class="a-btn">Boshladik!</button></a>
                        </div>
                    </div>

                </div>

            </div>
        </main>


        <!-- matn  3 -->
        <main class="ora">
            <div class="ol">
                <div class="bobo-quti">
                    <div class="ota-quti">
                        <img class="it" src="../static/images/image copy 2.png" alt="">
                        <div class="matn">
                            <h4>AyTi   darajangizni bilib oling!</h4>
                            <a href="/ayti"><button class="a-btn">let's goo!</button></a>
                        </div>
                    </div>

                </div>

                <div class="bobo-matn">

                    <p class="p-matns"> Assalomu alaykum hurmatli foydalanuvchi bu test AyTi uchun
                    </p>
                </div>

            </div>
        </main>


        <!-- matn 4 -->
        <main class="ora">


            <div class="ol">
                <div class="bobo-matn">

                    <p class="p-matns">Assalomu alaykum hurmatli foydalanuvchi bu yerda tarix darajangizni bilib olishingiz mumkin</p>
                </div>
                <div class="bobo-quti">
                    <div class="ota-quti">
                        <img class="imgliz" src="../static/images/image copy 3.png" alt="">
                        <div class="matn">
                            <h4>Tarix darajangizni bilib oling!</h4>
                            <a href="/tarix"><button class="a-btn">Boshladik!</button></a>
                        </div>
                    </div>

                </div>

            </div>
        </main>
        <!-- matn 5 -->
        <main class="ora">
            <div class="ol">
                <div class="bobo-quti">
                    <div class="ota-quti">
                        <img class="imgliz" src="../static/images/image copy 4.png" alt="">
                        <div class="matn">
                            <h4>Rus tili darajangizni bilib oling!</h4>
                            <a href="/rus"><button class="a-btn">let's goo!</button></a>
                        </div>
                    </div>

                </div>

                <div class="bobo-matn">

                    <p class="p-matns">Assalomu alaykum hurmatli foydalanuvchi bu test rus-tili uchun </p>
                </div>

            </div>
        </main>













    </section>

</body>

</html>