<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savollar</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/start.css">
</head>

<body>
    <h1 class="ing-daraja">Rus-tili darajalar</h1>
    <section class="bobo">
        <div class="level-boxes">

            <div class="level-boxes">
                <a href="./rusa1.html">
                    <a href="/rus1" class="start-button">Birinchi daraja</a>

                </a>

                <a href="./rusb2.html">
                    <a href="/rus2" class="start-button">Ikkinchi daraja</a>

                </a>
            </div>
    </section>



</body>

</html>