<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savollar</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/start.css">
</head>

<body>
    <section class="bobo">

        <h1 class="ing-daraja">Tarix savollar </h1>
        <div class="level-boxes">
            <a href="./aralash.html">
                <a href="/aralash" class="start-button">Aralash savol</a>

            </a>
            <a href="./ali.html">
                <a href="/alish" class="start-button">Alisher Navoiy</a>
            </a>
            <a href="./mir.html">
                <a href="/mirzo" class="start-button">Mirzo Ulug'bek</a>
            </a>
            <a href="./amir.html">
                <a href="/amir" class="start-button">Amir Temir</a>
            </a>
        </div>
    </section>



</body>

</html>