<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ona Tili Testi - Yuqori Daraja</title>
    <link rel="stylesheet" href="../static/yuqori.css">
</head>

<body>
    <div class="test-quti">
        <h1 class="sarlavha">Yuqori daraja testi</h1>
        <div id="savol" class="savol-matni"></div>
        <div id="variantlar" class="variantlar-quti"></div>
        <div id="natija" class="natija"></div>
    </div>

    <script src="../static/yuqori.js"></script>
</body>

</html>